* + table {
  border-style: solid;
  border-width: 1px;
  border-color: #e7e3e7;
  margin-bottom: 1.5em;
}

* + table th, * + table td {
  border-style: dashed;
  border-width: 1px;
  border-color: #e7e3e7;
  padding-left: 3px;
  padding-right: 3px;
  text-align: right;
}

* + table th {
  border-style: solid;
  font-size: 90%;
}
